/* 解决小屏幕适应性 */
@media (max-width: 1024px) {
    .main-sidebar, .left-side {
        width: 160px;
    }
    .content-wrapper {
        margin-left: 160px;
    }
    .main-header .logo {
        width: 160px;
    }
    .main-header>.navbar {
        margin-left: 160px;
    }
    .main-header .logo .logo-lg {
        font-size: 12px;
    }
    .main-header .logo .logo-lg strong {
        font-size: 12px;
    }
}