body,html{ height:100%; }


.theme-layout{overflow:hidden;clear:both;position:absolute;top:0;right:0;bottom:0;left:0; width:100%; }
.theme-layout .theme-left-layout{ position: absolute;top:0;bottom:0;right:0; background:#fff; width:199px; border-right:1px solid #e0e2e6;z-index: 999}
.theme-layout .theme-right-layout{position: absolute;top:0;bottom:0;left:1px; right:0; background: #f4f5f7; height:100%; }

.theme-left-logo{height: 50px; background:url(images/example_logo.png) no-repeat center center;}
.theme-left-mini-logo{ background:url(images/example_mini_logo.png) no-repeat center center;}

.theme-left-account{ padding:10px 15px 10px 20px; height:auto;  clear: both; }
.theme-left-account img{ float: left; width:54px; height: 54px; border-radius: 30px; margin-right: 15px;}
.theme-left-account dl{ float: left; }
.theme-left-account dl dt{ font-weight: bold; margin:0 0 5px; }
.theme-left-account dl dd{}
.theme-layout .theme-right-layout{ right:260px;}
.theme-layout .theme-left-layout{ width:260px;}
.theme-left-menu::-webkit-scrollbar
{width:8px;height:8px;}
.theme-left-menu::-webkit-scrollbar-button
{width:0px; height:0px;}
.theme-left-menu::-webkit-scrollbar-track
{background:#ffffff;}
.theme-left-menu::-webkit-scrollbar-thumb
{background:#dedede;}
.theme-left-menu::-webkit-scrollbar-track,
.theme-left-menu::-webkit-scrollbar-thumb
{border-radius:0px;}
.theme-left-menu::-webkit-scrollbar-corner,
.theme-left-menu::-webkit-scrollbar-resizer,
.theme-left-menu::-webkit-scrollbar-button
{background:#fff;}

.theme-left-menu{ padding:10px; overflow-y:auto; overflow-x:hidden; clear: both; height:auto;}
.theme-left-menu .menu-icons,.theme-left-menu .menu-caption{
	height:28px; line-height:28px;
	display:inline-block;
	box-sizing:border-box;
	vertical-align:top;

}
.theme-left-menu .menu-icons{
	font-family:"iconfont" !important;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:20px;

}
.theme-left-menu .menu-icons.hide{ display:none; }
.theme-left-menu .menu-caption{
	margin:0 0 0 5px;
}

.theme-left-menu dl dt,.theme-left-menu .menu-open-arrows,.theme-left-menu .menu-close-arrows{background-repeat:no-repeat; background-position:right 10px center;}
.theme-left-menu dl dt,.theme-left-menu .menu-open-arrows{ background-image:url(images/menu_open_arrows.png);  }
.theme-left-menu .menu-close-arrows{ background-image:url(images/menu_close_arrows.png);}
.theme-left-menu dl .hover.menu-open-arrows{ background-image:url(images/menu_open_arrows_white.png);}
.theme-left-menu dl .hover.menu-close-arrows{ background-image:url(images/menu_close_arrows_white.png);}

.theme-left-menu dl .menu-open-show{ display: block; }
.theme-left-menu dl .menu-open-hide{ display: none; }
.theme-left-menu dl dt,.theme-left-menu ul li{ padding:0 10px; cursor: pointer; }


.theme-left-menu dl dt,.theme-left-menu ul li{ padding:0 10px; cursor: pointer; position:relative; }
.theme-left-menu .badge,.theme-left-menu .badge-tip{ position:absolute; right:0; margin:7px 30px 0 0; }
.theme-left-menu .badge-tip{  margin:10px 30px 0 0;}


.theme-left-menu dl dt,.theme-left-menu dl dt a{ color: #323437; }
.theme-left-menu dl dd ul li,.theme-left-menu dl dd ul li a{ color: #787a7d; }
.theme-left-menu dl .hover{ background-color: #378dee; border-radius:30px; }
.theme-left-menu dl .hover,.theme-left-menu dl .hover a{ color: #fff; }
.theme-left-menu dl .hover:hover,.theme-left-menu dl .hover a:hover{ background-color: #378dee; }

.theme-left-menu dl{ border-top:1px solid #eeeeee; }
.theme-left-menu dl:first-child{border-top:none;}

.theme-left-menu dl dt:hover,.theme-left-menu dl dd ul li:hover{ background-color:#f3f4f4;border-radius:30px; }
.theme-left-menu dl dd ul li.hover:hover{ background-color: #378dee; }


.theme-left-menu.theme-left-mini-menu{padding: 10px 0; overflow: visible;}
.theme-left-menu.theme-left-mini-menu dl{ border:none; margin:0 0 4px;  padding:0 5px; position:relative; }
.theme-left-menu.theme-left-mini-menu dt{text-align: center; padding:0;}
.theme-left-menu.theme-left-mini-menu .menu-caption{ display: none; }
.theme-left-menu.theme-left-mini-menu .menu-icons{height:40px; line-height:40px;font-size:22px;  }
.theme-left-menu.theme-left-mini-menu .menu-icons.hide{ display:inline-block; }

.theme-left-menu.theme-left-mini-menu .theme-left-mini-hide{ display:none; }
.theme-left-menu.theme-left-mini-menu .theme-left-mini-hide .theme-left-mini-hide{ display:block; }

.theme-left-menu.theme-left-mini-menu dl:hover .theme-left-mini-hide,
.theme-left-menu.theme-left-mini-menu dl:hover .menu-open-hide
{ display:block; }

.theme-left-menu.theme-left-mini-menu dl:hover dd{
	position:absolute; left:48px; top:0; width:200px; z-index:99999; background-color:#fff;
	padding:15px 10px;
	border:1px solid #e0e2e6; border-left:none;
	box-shadow: 15px 0px 35px 0 rgba(0,0,0,.2);
}
.theme-left-menu.theme-left-mini-menu dl:hover dd dd{
	padding:0;
	border:none;
	box-shadow:none;
}
.theme-left-menu.theme-left-mini-menu dl:hover dd dl{ position:static; padding:0; }
.theme-left-menu.theme-left-mini-menu dl:hover dd dl dt,.theme-left-menu.theme-left-mini-menu dl:hover ul li{text-align:left; padding: 0 10px;}
.theme-left-menu.theme-left-mini-menu dl:hover dd dl dd{position:static; }
.theme-left-menu.theme-left-mini-menu dl:hover dd .menu-caption,
.theme-left-menu.theme-left-mini-menu dl:hover dd .menu-icons{height:28px; line-height:28px; display:inline-block; }

.theme-left-menu.theme-left-mini-menu dl:hover dd .menu-open-hide{ display: none; }
/*
.theme-left-menu.theme-left-mini-menu{padding: 10px 5px; overflow: visible;}
.theme-left-menu.theme-left-mini-menu dl{ border:none; margin:0 0 4px; position:relative; }
.theme-left-menu.theme-left-mini-menu dt{text-align: center; padding:0;}
.theme-left-menu.theme-left-mini-menu .menu-caption{ display: none; }
.theme-left-menu.theme-left-mini-menu .menu-icons{height:40px; line-height:40px;font-size:22px;  }
.theme-left-menu.theme-left-mini-menu .menu-icons.hide{ display:inline-block; }

.theme-left-menu.theme-left-mini-menu dl:hover dd{ display:block !important; position:absolute; top:-10px; margin:0 0 0 42px; z-index:999999; background-color:#fff; border:1px solid #e0e2e6;border-left:1px solid #fff; }



 */








.theme-header-navigate{ background: #378dee; margin:0 0 0 -1px; width:calc(100% + 1px);}
.theme-header-navigate,.theme-header-navigate .left,.theme-header-navigate .right{height: 30px;}
.theme-header-navigate .left{ float: left;  margin:0 0 0 10px;}
.theme-header-navigate .right{ float: right;  margin:0 10px 0 0;}


.theme-header-navigate .badge-tip,.theme-header-navigate span.badge-tip{ width:10px; height:10px; display: inherit; position: relative; top: -5px; margin:0;}
.theme-header-navigate .iconfont + .badge-tip{ top: -8px; margin:0 0 0 -8px;}

.theme-header-navigate-combobox + .textbox.combo,.theme-header-navigate-search + .textbox.searchbox,.theme-header-navigate .l-btn{ height:20px; border:0 none; box-shadow:none; border-radius:3px; margin:5px 2px 5px 0;}

.theme-header-navigate .l-btn{background:transparent;}
.theme-header-navigate .l-btn:hover,.theme-header-navigate .l-btn.l-btn-selected{background: #61a8f8;border:0 none;}
.theme-header-navigate .l-btn .l-btn-text,.theme-header-navigate .l-btn .l-btn-text .iconfont{color:#fff; }
.theme-header-navigate .l-btn .l-btn-text{ line-height:20px;}
.theme-header-navigate .l-btn .l-btn-text .iconfont{font-size:24px; line-height:18px; margin-left:0; position:relative; top:1px;}

.theme-header-navigate a,.theme-header-navigate .textbox.combo,.theme-header-navigate-search + .textbox.searchbox{ float: left; }

.theme-header-navigate .combo-arrow,.theme-header-navigate .m-btn-downarrow{ background: url(images/combo_navigate_arrow.png) center center no-repeat;opacity: 1; }

.theme-header-navigate-menu-panel,.theme-header-navigate-user-panel,.theme-header-navigate-combobox-panel,.theme-header-navigate-search-panel,
.theme-header-navigate-update,.theme-header-navigate-message,.theme-header-navigate-download,.theme-header-navigate-weather
{ margin-top:5px; border-top:0 none; border-radius:0 0 3px 3px; }
.theme-header-navigate-menu-panel + .menu-shadow,.theme-header-navigate-user-panel + .menu-shadow,.theme-header-navigate-search-panel + .menu-shadow,
.theme-header-navigate-update + .menu-shadow,.theme-header-navigate-message + .menu-shadow,.theme-header-navigate-download + .menu-shadow,.theme-header-navigate-weather + .menu-shadow
{ margin-top:5px; }

.theme-header-navigate-combobox + .textbox.combo,.theme-header-navigate-search + .textbox.searchbox{background: #61a8f8;}

.theme-header-navigate-combobox + .textbox.combo input{color:#eeeeee; background:transparent;}
.theme-header-navigate-combobox + .textbox.combo .textbox-addon{ margin:8px 0; }
.theme-header-navigate-combobox + .textbox.combo .textbox-text{margin: 8px 27px 0px 5px !important;}
.theme-header-navigate-combobox-panel .panel-body{border-top:0 none; border-radius:0 0 3px 3px;padding-top: 5px;}
.theme-header-navigate-combobox-panel .combobox-item,.theme-header-navigate-combobox-panel .combobox-group,.theme-header-navigate-combobox-panel .combobox-stick{padding: 5px 10px 5px 15px;}

.theme-header-navigate-search + .textbox.searchbox .l-btn{ margin:0;}

.theme-header-navigate-search + .textbox.searchbox .textbox-text{ margin: 8px 25px 8px 83px !important;color:#eeeeee; background:transparent;}
.theme-header-navigate-search + .textbox.searchbox .textbox-addon{ margin:8px 5px 0px;}
.theme-header-navigate-search + .textbox.searchbox .searchbox-button {background: url(images/searchbox_navigate_button.png) no-repeat center center;}

.theme-header-navigate .theme-header-navigate-user-button.l-btn{ margin-right:10px;}
.theme-header-navigate .theme-header-navigate-user-button.l-btn:hover{background:transparent;}
.theme-header-navigate .theme-header-navigate-user-button.l-btn .l-btn-text{margin:7px 34px 7px 15px; color: #ffffff; line-height:28px;}
.theme-header-navigate .theme-header-navigate-user-button.l-btn .m-btn-downarrow{right:10px;}

.theme-header-navigate .theme-header-navigate-user-button.l-btn .l-btn-text img{ float: left; border-radius:25px;margin:-3px 10px -7px -15px; }

.theme-header-navigate-user-panel{ width:320px !important;padding:0 !important;}
.theme-header-navigate-user-panel dl,.theme-header-navigate-user-panel dl dt,.theme-header-navigate-user-panel dl dd{ overflow:hidden; clear:both;}
.theme-header-navigate-user-panel dl dd{ padding:15px;}
.theme-header-navigate-user-panel dl dd img{
	float:left;
	-moz-border-radius:45px;
	-webkit-border-radius:45px;
	border-radius:45px;
	margin:0 15px 0 0;
}
.theme-header-navigate-user-panel dl dd b{ margin:10px 0 0; font-size:14px;}
.theme-header-navigate-user-panel dl dd b i{ margin:0 0 0 10px; font-weight:normal;font-style:normal;}
.theme-header-navigate-user-panel dl dd span{color: #999;}
.theme-header-navigate-user-panel dl p{margin: 5px 0 0;}
.theme-header-navigate-user-panel dl p i{ font-style:normal;}

.theme-header-navigate-user-panel dl dd span,.theme-header-navigate-user-panel dl dd b,.theme-header-navigate-user-panel dl p{ display:block;}
.theme-header-navigate-user-panel dl dt{ background:#f5f5f5 url(images/navigate_user_footer_projection.png) left top  repeat-x; border-top:1px solid #b9b9b9; padding:10px 15px;}
.theme-header-navigate-user-panel dl dt a{ display:block; float:left; background:#fdfdfd; border:1px solid #e3e3e3; padding:5px 15px;}
.theme-header-navigate-user-panel dl dt .theme-navigate-user-modify{ float:left;}
.theme-header-navigate-user-panel dl dt .theme-navigate-user-logout{ float:right;}

.theme-header-navigate-user-panel .menu-line,
.theme-header-navigate-update .menu-line,.theme-header-navigate-message .menu-line,.theme-header-navigate-download .menu-line,.theme-header-navigate-weather .menu-line
{display: none;}


.theme-header-navigate-weather{padding:0; background: #f6f6f6;}

.theme-header-navigate-update,.theme-header-navigate-download{ padding: 40px 20px; }

.theme-header-navigate-update *::-webkit-scrollbar,
.theme-header-navigate-download *::-webkit-scrollbar
{width:5px;height:5px;}
.theme-header-navigate-update *::-webkit-scrollbar-button,
.theme-header-navigate-download *::-webkit-scrollbar-button
{width:0px; height:0px;}
.theme-header-navigate-update *::-webkit-scrollbar-track,
.theme-header-navigate-download *::-webkit-scrollbar-track
{background:#ffffff;}
.theme-header-navigate-update *::-webkit-scrollbar-thumb,
.theme-header-navigate-download *::-webkit-scrollbar-thumb
{background:#dedede;}
.theme-header-navigate-update *::-webkit-scrollbar-track,
.theme-header-navigate-update *::-webkit-scrollbar-thumb,
.theme-header-navigate-download *::-webkit-scrollbar-track,
.theme-header-navigate-download *::-webkit-scrollbar-thumb
{border-radius:0px;}
.theme-header-navigate-update *::-webkit-scrollbar-corner,
.theme-header-navigate-update *::-webkit-scrollbar-resizer,
.theme-header-navigate-update *::-webkit-scrollbar-button,
.theme-header-navigate-download *::-webkit-scrollbar-corner,
.theme-header-navigate-download *::-webkit-scrollbar-resizer,
.theme-header-navigate-download *::-webkit-scrollbar-button
{background:#fff;}


.theme-header-navigate-message{ width: 280px; }
.theme-header-navigate-message .message_standard_panel{ border:0 none; }
.theme-header-navigate-message .message_standard_panel .message_standard_content{ padding:10px; }

.theme-header-navigate-sep{ border-left: 1px solid #3180d8; width:1px; height:25px; margin:3px 10px; float: left; }



.theme-inner-layout .layout-body,.theme-window-inner-layout .layout-body{border:none; background:transparent;}

.theme-inner-header-bar{ border-bottom: 1px solid #e0e2e6; background: #fff; box-shadow:0 0 10px #e5e5e5;}
.theme-inner-header-bar .caption{ clear: both; height:14px;padding:14px 20px;}
.theme-inner-header-bar .caption b{ font-size:14px;}
.theme-inner-header-bar .caption .left{ float: left; }
.theme-inner-header-bar .caption .right{ float: right; }

.theme-inner-header-bar .operate{ padding:12px 20px; }
.theme-inner-header-bar .operate .rows{ clear:both; margin:0 0 5px; }
.theme-inner-header-bar .operate .rows .label{ color:#787a7d; }
.theme-inner-header-bar .operate .rows .separate{ display:inline-block; margin:0 5px; }
.theme-inner-header-bar .operate .rows .separate:before{content:" "; height:100%; border-left:1px solid #dedede;}

.theme-inner-header-bar .caption + .operate{ margin:10px 0 0; padding:0 20px;}

.theme-window-inner-layout .layout-panel-south .layout-body{text-align: right; height: 60px !important; line-height: 60px !important; padding: 0 15px;}
.theme-window-inner-layout .layout-panel-south .layout-body .l-btn .l-btn-text{ padding:0 20px; }


.theme-form-fit{position:relative; top:0; right:0; left:0; bottom:0; height:100%;}
.theme-form-layout{ padding:20px; }
.theme-form-layout dl{ margin:0 0 5px; }
.theme-form-layout dl dt,.theme-form-layout dl dd{ display: inline-block;}
.theme-form-layout dl dt{ min-width:80px;vertical-align:top; margin-top: 7px;}
.theme-form-layout dl dd{}
.theme-account-home{ background: #fff;}
.theme-form-layout dl dt,.theme-form-layout dl dd{ }





.theme-account-home,.theme-account-home .theme-account-info,.theme-account-home .theme-account-tabs{ width: 100%; height:auto; clear: both; }
.theme-account-home .theme-account-info{ height: 150px; }


.theme-account-home .theme-account-tabs{ }
.theme-account-home .theme-account-tabs .easyui-tabs .panel-body{ /*background:#f4f5f7 !important;*/}


.theme-console{ background:transparent; }

.hide{ display:none; }
.clear{ clear: both; }
/**11.5头部**/
.theme-header-navigate > .left .textbox > *,.theme-header-navigate-combobox + .textbox.combo .textbox-text{ margin-top:0!important; height:20px!important; line-height:20px!important;}
.theme-header-navigate .theme-header-navigate-user-button.l-btn .l-btn-text img{ width:20px; height:20px;    margin-top: 0px; }
.theme-header-navigate .theme-header-navigate-user-button.l-btn .l-btn-text{ margin-top:0!important; line-height:20px;}
.theme-header-navigate .l-btn .l-btn-text .iconfont { font-size: 21px;}
.theme-header-navigate .theme-header-navigate-user-button.l-btn .m-btn-downarrow{ top:10px;}


/**11.6修改**/
.theme-header-navigate, .theme-header-navigate .left, .theme-header-navigate .right {
    height: 52px; 
}
.theme-header-navigate {
    background:url(images/hd-bgs.png) center center no-repeat; background-size:100% 100%;
    border-bottom: 0 none; position:relative;
}

.theme-header-navigate-combobox + .textbox.combo, .theme-header-navigate-search + .textbox.searchbox, .theme-header-navigate .l-btn{ margin-top:10px; }
.theme-header-navigate-combobox + .textbox.combo, .theme-header-navigate-search + .textbox.searchbox, .theme-header-navigate .l-btn { height: 24px;}
.theme-header-navigate .theme-header-navigate-user-button.l-btn .l-btn-text img {
    width: 24px;
    height: 24px;
    margin-top: 0px;
}
.theme-header-navigate .l-btn .l-btn-text .iconfont { font-size: 24px; top:4px;  }
.theme-header-navigate-sep { border-left: 1px solid #2182bd; height: 18px; margin-top: 12px;}
.theme-header-navigate .l-btn .l-btn-text, .theme-header-navigate .l-btn .l-btn-text .iconfont { color: #f9ffff; }
.theme-header-navigate-user-panel dl dt{ background:none; border:0 none;}
.theme-header-navigate .l-btn:hover, .theme-header-navigate .l-btn.l-btn-selected { background: rgba(0, 74, 119, 0.91); border:0 none;}
.menu,.theme-header-navigate-menu-panel + .menu-shadow, .theme-header-navigate-user-panel + .menu-shadow, .theme-header-navigate-search-panel + .menu-shadow, .theme-header-navigate-update + .menu-shadow, .theme-header-navigate-message + .menu-shadow, .theme-header-navigate-download + .menu-shadow, .theme-header-navigate-weather + .menu-shadow{ box-shadow: 0 0px 0px 0 #005fa77d;}
.menu-top.menu{ border-radius: 0 0 2px 2px; background: rgba(0, 109, 162, 0.61) !important;}
.menu-shadow{ background:0 none; }
.menu-top.menu {     background: url(images/down-menu.png) center bottom no-repeat!important;
    padding-bottom: 14px;
    border: 0 none;
    background-size: 100% auto!important;}
.menu-active {
    border-color: #1c5f8e;
    color: #e3edfe;
background: rgba(4, 35, 56, 0.65);}
.menu{ opacity: 1;}
.theme-header-navigate-menu-panel, .theme-header-navigate-user-panel, .theme-header-navigate-combobox-panel, .theme-header-navigate-search-panel, .theme-header-navigate-update, .theme-header-navigate-message, .theme-header-navigate-download, .theme-header-navigate-weather {
margin-top: 6px;}
.menu{ border-color: rgba(80, 168, 209, 0.78);}
.menu-shadow{     background: 0 none;
    -moz-box-shadow: 0px 0px 0px #787878;
    -webkit-box-shadow: 0px 0px 0px #787878;
    box-shadow: 0px 0px 0px #787878;}
.menu.menu-noline { background-color: rgba(0, 72, 115, 0.73);}
.cesium-button{background: none;
    border: 1px solid #36a9e0;
    color: #36a9e0;
    fill: #36a9e0;}
.cesium-button:focus {
    color: #ea4;
    fill: #ea4;
    border-color: #ea4;
    outline: none;
}
.cesium-viewer-fullscreenContainer{ bottom: 12px; right: 9px;}
.theme-header-navigate-user-panel dl dt a{ background: #00699c; border: 1px solid #0181bf; color: #def4ff;    border: 1px solid #1486bd;}
.theme-right-content{ margin-left: 8px;
    margin-top: 10px;
    margin-right: 8px;
    margin-bottom: 20px;
    padding:14px;
    background:url(images/bd-dlg.png); background-size:100% 100%; }
.theme-layout .theme-right-layout{ background:url(images/bd-bg.png) center center no-repeat; background-size:cover; left: 0px;}

/**左右悬浮 **/
.cont-left{ width:113px; height:458px; position:fixed; left:20px; top:50%; margin-top:-254px; background:url(images/cont-left.png) center center no-repeat; z-index: 9999;}

.cont-left ul a.easyui-linkbutton.l-btn{ display:block; margin: 12px 0; background-image: url(../uimaker/images/button/con-fl-button_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;}
.cont-left ul a.easyui-linkbutton.l-btn-focus{background-image: url(../uimaker/images/button/con-fl-button_bg-focus.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;}
.tab-b{ padding-top: 18px;height: 389px;
    margin: 0; }
.tab-b ul{padding-left: 6px;
    padding-right: 15px; }
.tab-h{ margin-top:6px; width:92px; margin:0 auto; display:block; text-align:center;}
.tab-h span{ width:20px; height:6px; background:#369fd1; margin:0 2px; display:inline-block; }
.tab-h span.tab-h-cu{ background:#ea9f05; }
.tab-h span:hover{ cursor:pointer; }
.cont-right{ width:78px; height:510px; position:fixed; right:282px; top:50%; margin-top:-254px; background:url(images/cont-right.png) center center no-repeat; z-index: 9999;}
.cont-right ul a.easyui-linkbutton.l-btn.l-btn-small{ width:45px; height:45px; padding:0; line-height:45px; text-align:center; background:url(images/cont-right-ic-bg.png) center center no-repeat; margin-top: 7px;
    margin-bottom: 9px;}
.cont-right .tab-b{ height: 442px;}
.cont-right .tab-h{    width: 8px;
    position: absolute;
    bottom: -113px;
    right: 0px;
    z-index: 99;}
.cont-right .tab-h span{ width: 6px;
    height: 31px;
    margin: 0; margin-bottom: 1px; background:url(images/tab-h-ic.png) center center no-repeat; background-size:cover;}
.cont-right > div{ position:relative; width:78px; height:460px; }
.cont-right .tab-h span.tab-h-cu{ background:url(images/tab-h-ic-act.png) center center no-repeat; background-size:cover;}
.cont-right ul a.easyui-linkbutton.l-btn-focus.l-btn{background:url(images/cont-right-ic-bg-focus.png) center center no-repeat; }



